:root {
  --default-icon-color: rgb(150, 150, 150);
  --github-hover-icon-color: rgb(230, 230, 230);
  --linkedin-hover-icon-color: rgb(0, 119, 181);
  --education-hover-icon-color: rgb(255, 220, 0);
  --resume-hover-icon-color: rgb(255, 50, 50);
  --mail-hover-icon-color: rgb(234, 67, 53);
  --icon-transition-type: ease-out;
  --icon-transition-time: 0.5s;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

#github-icon {
  color: var(--default-icon-color);
  transition: color var(--icon-transition-time) var(--icon-transition-type);
}

#github-icon:hover {
  color: var(--github-hover-icon-color);
  transition: color var(--icon-transition-time) var(--icon-transition-type);
}

#linkedin-icon {
  color: var(--default-icon-color);
  transition: color var(--icon-transition-time) var(--icon-transition-type);
}

#linkedin-icon:hover {
  color: var(--linkedin-hover-icon-color);
  transition: color var(--icon-transition-time) var(--icon-transition-type);
}

#education-icon {
  color: var(--default-icon-color);
  transition: color var(--icon-transition-time) var(--icon-transition-type);
}

#education-icon:hover {
  color: var(--education-hover-icon-color);
  transition: color var(--icon-transition-time) var(--icon-transition-type);
}

#resume-icon {
  color: var(--default-icon-color);
  transition: color var(--icon-transition-time) var(--icon-transition-type);
}

#resume-icon:hover {
  color: var(--resume-hover-icon-color);
  transition: color var(--icon-transition-time) var(--icon-transition-type);
}

#mail-icon {
  color: var(--default-icon-color);
  transition: color var(--icon-transition-time) var(--icon-transition-type);
}

#mail-icon:hover {
  color: var(--mail-hover-icon-color);
  transition: color var(--icon-transition-time) var(--icon-transition-type);
}

.icon {
  pointer-events: auto;
  font-size: 1.3rem;
  margin: auto;
  color: var(--default-icon-color);
}

/*
.spotlight #header-spotlight-icons .icon {
  font-size: 1.3rem !important;
  margin: auto !important;
  color: rgb(150, 150, 150) !important;
}
*/
